.header-navs {
	display: flex;
	justify-content: flex-end;
	padding-top: 1em;
}

nav a {
	color: lightgrey;
	background-color: darkslategrey;
	padding: 0.5rem;
	margin: 0.5rem;
	text-decoration: none;
	transition: all 0.8s ease-out;
	border-radius: 0.5rem;
}
nav a:hover,
a:focus {
	background-color: #fff;
	color: #333;
	border-radius: 0.5rem;
}
