.product-container {
    /*border: blue solid 1px;*/
    display: flex;
    flex-direction: column;
    height: 40%;
    width: 40%;
    margin: 2%;
    padding: 1%;
    justify-content: center;
}

.product-display {
    text-align: center;
    padding: 10%;
    margin: 5%;
}

.products-title {
    text-align: center;
}

h3 {
    color:lightgrey;
    flex: 1;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    transition: all .8s ease-out;
}

h3:hover,
h3:focus {
    color: #333;
}

#add {
    color:lightgrey;
    flex: 1;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    transition: all .8s ease-out;
}

#add:hover,
#add:focus {
    color: #333;
}

.product {
    border: none;
    color:lightgrey;
    flex: 1;
    background-color: darkslategrey;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    transition: all .8s ease-out;
}

.product:hover,
.product:focus {
    color: #333;
}








































