.locations {
    display: flex;
    justify-content: space-around;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

h1 {
    text-align: center;
}

#add {
    text-decoration: none;
    color: lightgray;
    text-align: center;
}

#region {
 color: lightgray;
}

#regions {
    background-color: darkslategrey;
}

#regions:hover,
#regions:focus {
    color: lightgray;
}

input {
    border: none;
}
































